{{#each this}}
<li>
    <h2>{{name}}</h2>
    <img src="{{flag}}" alt="{{name}}" width="320">
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    <p>Languages:
    <ul>
        {{#each languages}}
        <li>{{{this.name}}}</li>
        {{/each}}
    </ul>

    </p>

</li>

{{/each}}